*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

body {
    // background:mintcream;

background: -webkit-linear-gradient(-8deg, rgb(118, 237, 22), rgb(164, 57, 211));
background: linear-gradient(-8deg, rgb(118, 237, 22), rgb(164, 57, 211));v
    max-width: 90vw;
    margin: 0 auto;
    padding: 1em;
    font-size: 18px;
}

h1, h2, h3 {
    text-align: center;
    padding-top: 2em;
    color:white;
}
h1 {

font-size:3rem;
text-align: center;
}
h1:hover {
    font-family: sans-serif;
}

h3 {
    font-size: 3em;
    color:red;

}
figure, p.quote {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;    
    align-items: center;
    margin: 20px 0;



}
cite {
    font-size: 1.4rem;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    line-height: 1.2em;
}
img {
    max-width: 94vw;
    width: 400px;
}

p, li{
    font-size: 1.6rem;
    line-height: 1.2em;
padding-bottom: 1rem;
}


p {
    padding: 1rem 4rem;
}
p:nth-child(odd){
    color: blue;
    font-size: 2rem;
    padding: 2rem;
}
p::selection{
    background: yellow;
    color:black;
}
table, th, td {

   text-align: center;
    border: 1px dotted black;
}

td:nth-child(odd){
    color: blue;
    font-size: 2rem;
    padding: 2rem;
}
td:nth-child(even){
    background: blue;
    color:white;
    font-size: 2rem;
    padding: 2rem;
}
ul{
    display: flex;
    flex-direction: row;
  
  justify-content: center;
  border: 60px dotted yellowgreen;
 
   
}
ul:hover {
    border: 80px dotted white;
}

ul section li {
    font-size: 2em;
    font-weight: 900;
    font-variant-ligatures: additional-ligatures;

}
article {
display: flex;
flex-direction: column;

justify-content: center;

}

li {
    list-style-type: none;
}

li {
    border: 10px dotted blue;
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 10px;
}

li:hover {
    background: blue;
    color:white;
    cursor: pointer;
}

section {
    margin: 1rem;
}

a:hover {
    background: purple;
    color:white;
    font-size: 2em;
    line-height: 1.4em;
}

a:visited {
    border: 2px dotted purple
}

q, blockquote {
    background: greenyellow;
    border: 13px dotted firebrick;
    padding: 30px;
    border-radius: 4rem;
}

img:hover {
    border: 40px solid white;
}


@media only screen and (min-width: 320px) and (max-width: 750px) {

    //CSS Code

    h1 {
        font-weight:bold;
        font-size: 200px;
    }

    body {
        background:red;
        margin:0 auto;
        padding:0;
    }

    ul{
        
        flex-direction: column;

    }

    ul section:first-child li {
        background:yellow;
        text-align: center;
        font-size: 4rem;

    }
    p:nth-child(odd){
        color: white;
        font-size: 2rem;
        padding: 2rem;
    }

    p:nth-child(even){
      font-weight: bold;
        font-size: 2rem;
        padding: 2rem;
    }
    img {
        width: 100%;
        margin:0;
        padding:0;
    }
    table {
        background:white;
    }
    footer p {
        font-size: 6rem;
        background: yellowgreen;
        
    }
    }